:root {
    --margin: 1vh;
    --padding: var(--margin);
    --spacing: var(--margin);

    --primary-hue: 120;

    --primary: hsl(var(--primary-hue), 100%, 50%);
    --primary-90: hsla(var(--primary-hue), 100%, 50%, 90%);
    --primary-80: hsla(var(--primary-hue), 100%, 50%, 80%);
    --primary-70: hsla(var(--primary-hue), 100%, 50%, 70%);
    --primary-60: hsla(var(--primary-hue), 100%, 50%, 60%);
    --primary-50: hsla(var(--primary-hue), 100%, 50%, 50%);
    --primary-40: hsla(var(--primary-hue), 100%, 50%, 40%);
    --primary-30: hsla(var(--primary-hue), 100%, 50%, 30%);
    --primary-20: hsla(var(--primary-hue), 100%, 50%, 20%);
    --primary-10: hsla(var(--primary-hue), 100%, 50%, 10%);

    --primary-60b: hsla(var(--primary-hue), 100%, 30%, 100%);

    --focus: #0ff;

    --line-width: 0.15vh;
    --line-color: var(--primary-60);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

@import './layout.scss';

body {
    background-color: #000;
    background: linear-gradient(to bottom, #333, #000);
    color: var(--primary);
    font-family: 'IBM Plex Mono', monospace;
    display: flex;
    align-items: stretch;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    scrollbar-color: var(--primary-40) transparent;
}


::-webkit-scrollbar {
    background: transparent;
    height: 0.5vh;
    width: 0.5vh;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-30);

    &:hover {
        background: var(--primary-40);
    }
}

.amber {
    --primary-hue: 36;
}

.bezel {
    flex-grow: 1;
    max-width: 75vh;
    border-radius: 2vh;
    overflow: hidden;
    position: relative;
    background: linear-gradient(to top left, #777, #444);
    padding: 0.5vh;
    box-shadow: inset 0.2vh 0.2vh 0.1vh 0 rgba(200, 200, 200, 0.5), inset -0.2vh -0.2vh 0.1vh 0 rgba(0, 0, 0, 0.5);
}

.display {
    padding: 0.5vh 1vh 1.5vh;
    font-size: 2vh;
    border-radius: 1.75vh;
    color: var(--primary);
    text-shadow: 0 0 0.5vh var(--primary);
    position: absolute;
    top: 0.5vh;
    left: 0.5vh;
    right: 0.5vh;
    bottom: 0.5vh;
    overflow: hidden;
    background: #000 radial-gradient(var(--primary-20), var(--primary-10));
    box-shadow: inset 0 0 2vh #000;
    display: flex;
    flex-direction: column;

    &::selection, ::selection {
        background: var(--primary-80);
        color: #000;
        text-shadow: none;
    }

    .invert {
        background: var(--primary-80);
        box-shadow: 0 0 0.5vh var(--primary);
        color: var(--primary-10);
        text-shadow: none;

        &::selection, ::selection {
            background: var(--primary-10);
            color: var(--primary-80);
            text-shadow: none;
        }
    }

    .box {
        border: var(--line-width) solid var(--line-color);
        box-shadow: 0 0 0.5vh var(--primary), inset 0 0 0.5vh var(--primary);
    }

    &:after {
        display: block;
        pointer-events: none;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10000;
        background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.1) 51%);
        background-size: 100% 0.4vh;
    }
}

.backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &::before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #000 radial-gradient(var(--primary-20), var(--primary-10));
        opacity: 0.8;
    }
}

.modal-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh;
}

.modal {
    border: var(--line-width) solid var(--primary);
    box-shadow: 0 0 0.5vh currentColor, inset 0 0 0.5vh currentColor;
    overflow: auto;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.icon {
    display: inline-block;
    width: 2vh;
    height: 2vh;
    vertical-align: middle;
    & > svg {
        width: 100%;
        height: 100%;
        fill: currentColor;
        filter: drop-shadow(0 0 0.5vh currentColor);
    }
}

button {
    display: flex;
    align-items: center;
    color: inherit;
    border: var(--line-width) solid var(--primary);
    padding: 0.1vh 0.3vh;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    box-shadow: 0 0 0.5vh currentColor, inset 0 0 0.5vh currentColor;
    text-shadow: 0 0 0.5vh currentColor;
    transition: all linear 0.1s;

    &:hover {
        background: var(--primary-30);
    }

    &:active {
        box-shadow: 0 0 0.5vh var(--primary);
        background: var(--primary);
        color: var(--primary-60b);
        border-color: var(--primary);
    }

    &.attention {
        animation: attention 1s linear infinite;

        @keyframes attention {
            50% {
                box-shadow: 0 0 0.5vh var(--primary);
                background: var(--primary);
                color: var(--primary-60b);
                border-color: var(--primary);
            }
        }
    }

    &[role="row"] {
        text-align: left;
        justify-content: flex-start;
        border-color: transparent;
        box-shadow: none;
        &[aria-selected="true"] {
            font-weight: bold;
            &:after {
                margin-left: auto;
                margin-right: 0.3vh;
                content: '';
                display: block;
                width: 0.5vh;
                height: 0.5vh;
                background: var(--primary);
                box-shadow: 0 0 0.5vh var(--primary);
            }
        }
    }

    &:focus-visible {
        outline: none;
        border-color: var(--focus);
    }

    &:disabled {
        background: transparent;
        box-shadow: none;
        border-color: var(--primary-50);
        color: var(--primary-50);
    }
}


input,
textarea,
select[size="1"] {
    padding: 0.1vh;
    font-size: inherit;
    font-family: inherit;
    background-color: var(--primary-30);
    color: inherit;
    border: 0.1vh solid transparent;
    box-shadow: 0 0 0.5vh var(--primary-30);
    transition: all linear 0.1s;

    &:focus {
        outline: none;
        border: 0.1vh solid currentColor;
        box-shadow: 0 0 0.5vh currentColor, inset 0 0 0.5vh currentColor;
    }

    &:disabled {
        color: var(--primary-40);
    }
}

menu[role="tablist"] {
    display: flex;
    list-style-type: none;
    overflow-y: auto;
    padding: 1vh 0;
    flex-shrink: 0;

    &::after, &::before {
        display: block;
        content: '';
        flex-grow: 1;
        border-bottom: var(--line-width) solid var(--primary-60);
    }

    & > li {
        display: flex;
        & > button {
            box-shadow: none;
            border-color: var(--primary-60);

            &[aria-selected="true"] {
                border-bottom-color: transparent;
            }

            &:active {
                border-color: var(--primary);
                box-shadow: 0 0 0.5vh var(--primary);
            }

            &:focus-visible {
                border-top-color: var(--focus);
                border-left-color: var(--focus);
                border-right-color: var(--focus);
            }
        }
        & + li::before {
            display: block;
            content: '';
            width: 1vh;
            border-bottom: var(--line-width) solid var(--primary-60);
        }
    }
}

.status-bar {
    display: flex;
    align-items: stretch;

    & > * + * {
        margin-left: 1vh;
    }

    .status {
        background: var(--primary-20);
        display: flex;
        align-items: center;
        padding: 0.1vh 0.3vh;
    }

    .icon {
        width: auto;
    }
}

.spinner {
    display: inline-block;
    &::before {
        display: block;
        content: '|';
        animation: spinner 0.5s linear infinite;

        @keyframes spinner {
            25% {
                content: '/';
            }
            50% {
                content: '-';
            }
            75% {
                content: '\\';
            }
        }
    }
}

[role="listbox"] {
    [role="option"] {
        &[aria-selected="true"] {
            font-weight: bold;
        }
        &:hover {
            background: var(--primary-20);
        }
    }
}

hr {
    border: 0;
    border-bottom: var(--line-width) solid var(--primary-60);
}
