:root {
    --margin: 1vh;
    --padding: var(--margin);
    --spacing: var(--margin);

    --primary: #0f0;
    --primary-9: #090;
    --primary-6: #060;
    --primary-5: #050;
    --primary-4: #040;
    --primary-3: #030;
    --primary-1: #010;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
  height: 100%;
}

@import './layout.scss';

body {
    background-color: #000;
    color: var(--primary);
    font-family: 'IBM Plex Mono', sans-serif;
    display: flex;
    align-items: stretch;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.amber {
    --primary: #f90;
    --primary-9: #960;
    --primary-6: #640;
    --primary-5: #530;
    --primary-4: #420;
    --primary-3: #320;
    --primary-1: #100;
}

.bezel {
    flex-grow: 1;
    max-width: 75vh;
    border: 0.5vh ridge #666;
    border-radius: 2vh;
    overflow: hidden;
    background: radial-gradient(var(--primary-3), var(--primary-1));
    position: relative;
}

.display {
  padding: 0.5vh 1vh;
  font-family: monospace;
  font-size: 2vh;
  color: var(--primary);
  text-shadow: 0 0 0.5vh var(--primary);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  &::selection, ::selection {
    background: #0c0;
    color: #010;
    text-shadow: none;
  }

  .invert {
    background: #0c0;
    box-shadow: 0 0 0.5vh var(--primary);
    color: #010;
    text-shadow: none;

    &::selection, ::selection {
      background: #010;
      color: #0c0;
      text-shadow: none;
    }
  }

  .box {
    border: 0.1vh solid var(--primary);
    box-shadow: 0 0 0.5vh var(--primary), inset 0 0 0.5vh var(--primary);
  }

  &:after {
      display: block;
      pointer-events: none;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2147483648;
      background: linear-gradient(to bottom, transparent 50%, rgba(#000, .1) 51%);
      background-size: 100% 0.4vh;
  }
}


.icon {
    display: inline-block;
    width: 1.6vh;
    height: 1.6vh;
    vertical-align: middle;
    & > svg {
        width: 100%;
        height: 100%;
        fill: currentColor;
        filter: drop-shadow(0 0 0.5vh currentColor);
    }
}

button {
    display: flex;
    align-items: center;
    color: inherit;
    border: 0.1vh solid currentColor;
    padding: 0.1vh 0.3vh;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    box-shadow: 0 0 0.5vh currentColor, inset 0 0 0.5vh currentColor;
    text-shadow: 0 0 0.5vh currentColor;
    transition: all linear 0.1s;

    &:hover {
        background: var(--primary-4);
    }

    &:active {
        box-shadow: 0 0 0.5vh var(--primary);
        background: var(--primary);
        color: var(--primary-9);
        border-color: var(--primary);
    }

    &:focus-visible {
        outline: none;
        border-color: #0ff;
    }
}

input,
textarea,
select[size="1"] {
    padding: 0.1vh;
    font-size: inherit;
    font-family: inherit;
    background-color: var(--primary-5);
    color: inherit;
    border: 0.1vh solid var(--primary-5);
    box-shadow: 0 0 0.5vh var(--primary-5);
    transition: all linear 0.1s;

    &:focus {
        outline: none;
        border: 0.1vh solid currentColor;
        box-shadow: 0 0 0.5vh currentColor, inset 0 0 0.5vh currentColor;
    }

    &:disabled {
        color: var(--primary-6);
    }
}

.window {
    border: 0.1vh solid var(--primary);
    background: rgba(#000, 0.75);
    box-shadow: 0 0 0.5vh var(--primary);
    font-size: 1rem;

    .title-bar {
        display: flex;
        align-items: center;
        background: var(--primary-6);

        & > .title-bar-text {
            flex-grow: 1;
        }
    }
}
